@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h4>Assign an engineer to this machine: @Html.DisplayFor(model => model.Name)</h4>

<ul>
  @foreach (EngineerMachine join in Model.JoinEntities)
  {
      <li><strong>@join.Engineer.Name</strong> / @join.Engineer.Details</li>
    @using (Html.BeginForm("DeleteJoin", "Items"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete" />
    }
  }
</ul>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>